header.header 
 form#nav__search(name='search')
  input(type='search' placeholder='search an apartment' id='srch' name='find' required)
  input(type='submit' value='click to submit' id='btn') 

 .header__logo
  img(src='' alt='apartment logo') 
 nav.user
  ul 
    li 
     a#board(href='') Visit Dashboard 
    li 
     a#home(href='/') Visit Homepage 
    li 
     if user 
      a#out(href='') Logout 
     else 
      a(href='/login') Login  
      
       
 
   
  