doctype html 
html 
 head 
  title advertisement
  link(rel='stylesheet' href='/register.css')
 
 body 
    include _header
    .div.forms 
     h1 Please upload the neccessary files
     form#frms(enctype='multipart/form-data')    
      label choose two apartment pictures
      input(type='file' name='file' multiple)
      label choose one apartment video 
      input(type='file' name='vid')
      label Enter apartment location 
      input(type='text' name='location' placeholder='apartment location')
      label Price of the apartment (GH₵)
      input(type='text' name='price' placeholder='apartment price')
      label Provide title for the appartment 
      input(type='text' name='property_title' placeholder='type of apartment')
      label Provide descripton for the apartment 
      textarea(cols='30' rows='3' name='description' placeholder='apartment description')
      input(type='submit' value='click to submit' id='btn')


script(src='/js/login-logout.js' type='module') 
  