doctype html 
html 
 head 
  title advertisement
  link(rel='stylesheet' href='/register.css')
 
 body 
    include _header
    .div.forms 
     h1 Please upload the neccessary files
     form#frms(enctype='multipart/form-data')    
      label choose two apartment pictures
      input(type='file' name='file' multiple required)
      label choose one apartment video 
      input(type='file' name='vid' required)
      label Enter apartment location 
      input(type='text' name='location' placeholder='apartment location' required)
      label Price of the apartment (GH₵)
      input(type='text' name='price' placeholder='apartment price' required)
      label Select the apartment type (category) 
      select(name='category')
       option(value='2 bedroom apartment') 2 bedroom 
       option(value='3 bedroom apartment') 3 bedroom
       option(value='single bedroom apartment') single bedroom apartment
      label Select duration you are renting it out 
      select(name='duration') 
       option(value='6 months') 6 months
       option(value='1 year') 1 year 
       opton(value='2 years') 2 years 
       option(value='3 years') 3 years
      label Select apartment availability 
      select(name='availability') 
       option(value='available') available 
       option(value='not available') not available
      label Provide description for the apartment 
      textarea(cols='30' rows='3' name='description' placeholder='apartment description' required)
      input(type='submit' value='click to submit' id='btn')


script(src='/js/login-logout.js' type='module') 
  