doctype html 
html 
 head 
  title dashboard 
  link(rel='stylesheet' href='/dashbod.css')
  link(rel='stylesheet' href='/alerts.css')
  script()
 body.body 
  div 
   header
    h1= `Welcome, ${user.firstName} to your dashboard`
   nav
    ul
     li
      a#advert(href='')  Advertise An Apartment
     li 
      a#update(href='') Update An Apartment
     li 
      a#overview(href='') View All Apartment 
     li 
      a#delete(href='') Remove An Apartment
     li 
      a#profile(href='') View Profile 
     li
      a#out(href='')  Click To Logout


  script(src='/js/login-logout.js' type='module')
 
