doctype html 
html 
 head
  title 
  link(rel='stylesheet' href='/register.css')
 body.body
  include _header
  .div.forms
      h1 Please fill the form to login
      form#frm
        label Enter Email
        input(type='text' name='email'  required)
        label Enter Password
        input(type='password' name='paswd' required)
        input(type='submit' value='Click To Login' id='btn')
        p#link Don't have an account? 
         br
         a(href='/signup') Sign up here

  script(src='/js/login.js'  type='module')

        
