doctype html 
html 
 head 
  title 
  link(rel='stylesheet' href='/register.css')
body 
 include _header
 .div.forms 
  h1 Registration
  form#frm
   label FirstName
   input(type='text' name='firstName' required)
   label LastName 
   input(type='text' name='lastName' required)
   label Password 
   input(type='password' name='password' required)
   label Confirm Password 
   input(type='password' name='paswd2' required)
   label Telephone Number
   input(type='text' name='telephone' required)
   label Email 
   input(type='email' name='email' required)
   input(type='submit' value='CLICK TO SUBMIT FORM' id='btn')
  p#link Already have an account?
   br
   a(href='/login') Login




  script(src='/js/signUp.js'   type='module')
 